body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e3f2fd, #fce4ec);
}

h1 {
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    background-color: #2c3e50;
    padding: 15px;
    text-align: center;
    margin: 0;
}

ul li {
    display: inline;
    margin: 0 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    color: #ffd54f;
}


section,
table {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

section p {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}


table {
    border-collapse: collapse;
}

th {
    background-color: #4caf50;
    color: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    margin-top: 20px;
}