body {
    margin: 0;
    background: linear-gradient(#0F172A, #0A2540);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

li {
    color: #c5cde0;
    margin: 15px;

}

a {
    color: #c5cde0;
    background-color: #2563EB;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 10px;
}

a:hover {
    background-color: #306293;
}